.article {
  color: #444;
  font: 10px Courier;
  margin: 40px auto;
  text-align: center;
  width: 600px;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 20px;
}

p {
  font-size: 2em;
}

strong {
  font-weight: bold;
}

canvas {
  margin-bottom: 20px;
}

